.carta {
  width: 700px;
  height: 500px;
  border: 3px solid red;
  align-items: center;
  margin-left: 350px;
  color: white;
}

img {
  width: 370px;
  height: 200px;
  border-radius: 1rem;
}

.header__logo {
  width: 50;
  height: 50px;
}

.inicial {
  margin: 80px 80px 0px 80px;
}

.enlaceMenu {
  color: white;
}

#main-image {
  width: 425px;
  height: 375px;
}

.prueba {
  gap: 60px;
}

.boton:hover {
  background: black;
}

#main-image{
  width:100%
}

.prueba2{
  width: 50px;
  height: 50px;
}

.formu{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 500px;
}

#formDeleteCategory{
  margin-left: 450px;
  margin-top: 50px;
}

#selectCategorias{
  width: 200px;
}

.tituloFormCategory{
  margin-left: 450px;
}

.botones{
  justify-content: center;
  gap: 5px;
}

#formDeleteCategory{
  margin-left: 500px;
}

#formDeletePerson{
  margin-left: 300px; 
}

.serie_peli{
  margin: 100px;
}

.invalid-feedback {
  color: white;
}

.valid-feedback{
  color: white;
}

.categoriasVacias{
  margin: 110px;
}

.buscarGeo{
  margin-top: 38px;
}